body,
html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

#app {
    height: 100%;
    width: 100%;
}